#* @vtlvariable name="maintenanceEndedEvent" type="java.lang.Boolean" *#
#* @vtlvariable name="maintenanceStartedEvent" type="java.lang.Boolean" *#
#* @vtlvariable name="backupFailedEvent" type="java.lang.Boolean" *#
#* @vtlvariable name="authenticationFailureEvent" type="java.lang.Boolean" *#
#* @vtlvariable name="globalEventChannel" type="java.lang.String" *#
#* @vtlvariable name="errors" type="java.util.Map" *#
#* @vtlvariable name="webhook" type="java.lang.String" *#
#* @vtlvariable name="saved" type="java.lang.Boolean" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#
#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
<!DOCTYPE HTML>
<html>
<head>
    <title>$i18n.getText("my.plugin.name")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="decorator" content="atl.admin">

    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-form-notification")

## Alternativ:
##    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
##    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>
##    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all">

    <script>
        AJS.$(document).ready(function () {
            // enable inline help
            AJS.inlineHelp();
        });


        function sendTestMessage(userElement) {
            var webhook = document.getElementById("webhook").value;
            var target = userElement.value;

            var errorText = "this is ia error text";
            jQuery.ajax("test", {
                data: {
                    target: target,
                    webhook: webhook
                },
                error: function (xhr2, textStatus, errorThrown) {
                    AJS.flag({
                        type: 'error',
                        title: 'Error sending test message',
                        body: AJS.escapeHtml(xhr2.responseText)
                    });
                },
                success: function (xhr, textStatus, errorThrown) {
                    AJS.flag({
                        type: 'success',
                        body: "Message successfully sent."
                    });
                }
            });
        }
    </script>

</head>
<body>
<h2>$i18n.getText("my.plugin.name")</h2>


    #if($saved)
    <div class="aui-message aui-message-success fadeout">
        <p>Successfully saved.</p>
    </div>
    #end

<form class="aui" action="" method="post">
    <h3>Connection</h3>
    <div class="field-group">
        <label for="webhook">Webhook URL<span class="aui-icon icon-required">(required)</span></label>
        <input class="text long-field"
               type="text"
               id="webhook"
               name="webhook"
               value="$webhook"
            #if($errors.webhook)
               data-aui-notification-field
               data-aui-notification-error="$errors.webhook"
            #end
        >
        <div class="description">
            Add a incomming webhook in Slack: <a href="https://my.slack.com/services/new/incoming-webhook/">add a webhook</a>. Choose any channel (Woody
            will override it anyway). Copy the Webhook URL and paste it here.
        </div>

        <div class="buttons">
            <button class="aui-button" type="button" data-aui-trigger aria-controls="test-dialog">Test</button>
        </div>
    </div>

    <h3>Global Notifications</h3>
    <div class="field-group">
        <label for="globalEventChannel">Send to</label>
        <input class="text"
               type="text"
               id="globalEventChannel"
               name="globalEventChannel"
               placeholder="#channel or @user"
               value="$globalEventChannel"
            #if($errors.globalEventChannel)
               data-aui-notification-field
               data-aui-notification-error="$errors.globalEventChannel"
            #end
        >
        <button class="aui-button" type="button" onclick="sendTestMessage(document.getElementById('globalEventChannel'))">Test</button>
        <div class="description">
            The name of a channel which will receive global notifications. You can provide a user name if you prefix it with a '@' or a channel with a '#' prefix.
        </div>
    </div>

    <fieldset class="group">
        <legend><span>Events</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox"
                   name="authenticationFailureEvent" id="authenticationFailureEvent"
                    #if($authenticationFailureEvent) checked #end
            >
            <label for="authenticationFailureEvent">Authentication Failure</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox"
                   name="backupFailedEvent" id="backupFailedEvent"
                    #if($backupFailedEvent) checked #end
            >
            <label for="backupFailedEvent">Backup Failure</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox"
                   name="maintenanceStartedEvent" id="maintenanceStartedEvent"
                   #if($maintenanceStartedEvent) checked #end
            >
            <label for="maintenanceStartedEvent">Maintenance Started</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox"
                   name="maintenanceEndedEvent" id="maintenanceEndedEvent"
                   #if($maintenanceEndedEvent) checked #end
            >
            <label for="maintenanceEndedEvent">Maintenance Ended</label>
        </div>

    </fieldset>

    <div class="buttons-container">
        <div class="buttons">
            <button class="aui-button aui-button-primary">Save</button>
            <a class="aui-button aui-button-link cancel" href="javascript:window.location.href=window.location.href">Cancel</a>
        </div>
    </div>
</form>

<aui-inline-dialog id="test-dialog">
    <div class="field-group">
        <input type="text" class="text" name="username" id="username" placeholder="@username or #chat"/>
        <button class="aui-button aui-button-primary" type="button" onclick="sendTestMessage(document.getElementById('username'))">Send</button>
    </div>
</aui-inline-dialog>
</body>
</html>